form {
  background-color: #ffffff;
  border-radius: 5px;
  color: #727781;
  opacity: 1;
  padding: 7% 10%;
}

form p {
  text-align: center;
}

h1 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

#introduction {
  background-color: #4baf4f;
}
